.menu-container {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.center {
    margin: 0 auto;
}

.title {
    display: inline-block;
    padding-top: 2rem;
    margin-bottom: 0;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

header {
    /* margin-left: 0.85rem !important */
}

.heading4 {
    font-size: 0.95rem !important;
}

p,
td {
    font-size: 0.9rem;
    margin: 0.85rem;
    line-height: 1.6rem;
    text-align: justify;
}

th, td {
    padding-left: 0 !important;
}

.mylist li {
    font-size: 0.9rem !important;
    /* margin-left: 0.85rem !important; */
}

img {
    display: block;
    margin: 0 auto;
}

dl {
    margin-top: 15px;
}
dd {
    font-stretch: expanded;
}

.menu {
    align-items: end;
    gap: 20px;
    margin-bottom: 0;
}

dl.uk-description-list dt {
    font-weight: bold;
}

dl.uk-description-list dd {
    font-size: 0.9rem;
}

a.uk-link-muted {
    color: #555;
}

.main {
    width: 100%;
    margin-top: 25%;
}

@media (orientation: landscape) and (max-width: 1024px) {
    .main {
        width: 100%;
        margin-top: 0%;
    }

}

.work-image {
    width: 100%;
    height: auto;
}
