{% extends "layout/base.html" %}

{% block content %}
<h2>비평</h2>
<p>관계와 생성사이의 공간</p>
<p>작품에 공간과 공간사이, 이미지와 이미지사이에 전후안팎이나 우열등의 이분적인 시작이 존재하지 않는다. 
    이미지는 한결같이 생의 메타포로서의 기호이자 상징으로 작용한다. 산의 형상으로 누워있는 듯한 숫자3은 
    대체로 동양에서는 천지인(天地人)의 삼재로써, 혹은 만물에 변화를 일의켜 성장시키는 최소한의 수를 상징한다. 
    여기서는 그러한 의미와 더불어 인간을 둘러싼 환경, 즉 관계가 생성돠는 공간으로 있을 수 있고, 성삼위일체의 
    믿음을 투영하는 것으로도 풀이할 수 있다. 또한 기학학적인 그리드(grid)와 원형의 유기적인 형상들을 혼재시켜 
    생의 근본 에너지와 더불어 그 에너지의 순환원리을 은유하기도 한다.
</p>
<p>
    박성미작품은 부수적이거나 장식적인 요소들을 배제하고 지극히 추상의 형상을 고수하고 있다. 
    좀더 경괘하고 가벼운 뉘앙스을 담기 위해 색체를 칠한다기보다는 색점들을 화면에 모티브이용하여 찍거나 드리핑하거나, 
    굵고 가는 필선들이 표면을 구획짓고 있다. 형상들은 리듬감있게 구성하기도 했지만 단순한 추상성은 한층 정교하고 
    섬세해져서 신비에 가득한 표현효과가 작품이 리듬을 갖게 되고, 서정성을 띠게 되는 것은 필연적이다.
</p>
<p>전혜현(예술학·미술비평)</p>
{% endblock %}