{% extends 'layout/base.html' %}

{% block content %}
<h2>Home</h2>
<!-- Main Works -->
<div>
    <div class="uk-margin-large-bottom">
        <div class="main">
            <picture>
                <source srcset="https://assets.seongmeepark.com/images/main.webp" class="work-image" media="all">
                <img src="https://assets.seongmeepark.com/images/main.png" width="750" height="233"
                    alt="Together with Green" class="work-image">
            </picture>
            <dl class="uk-description-list">
                <dt>Together with Green</dt>
                <dd>116.8x364cm, Acrylic on Canvas, 2019</dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}