{% extends "layout/base.html" %}

{% block content %}
<h2>작가 노트</h2>
<ul class="uk-list">

    <li>예술이란, 그 속에서의 그림, 나는 왜 그리는가? 무엇을 그릴 것인가? 어떻게 그릴 것인가? 하고 스스로 반문도 해보게 된다.</li>
    <li>앙리루소(Henri Rousseau)는 예술가의 스승은 자연이라고 했다.</li>
    <li>자연은 흑(黑), 적(赤), 백(白), 청(靑), 황(黃)의 5원소, 
        즉 水, 火, 金, 木, 土의 상호, 역학작용을 하면서 北, 南, 西, 東, 中의 五向과 
        冬, 夏, 秋, 春, 四時등과 밀접한 관계로 시메트리(syme’trie)나 
        밸런스(balance), 리듬, 하모니 혹은, 콘트라스트(contrast)와 같은 관계 속에서 
        자연물과 주체로서의 아(我)는 관조(觀照)하며 생성을 위한 에너지를 얻는다.</li>
    <li>물감이 화폭에 중첩될 때마다 내 마음은 비워지고, 때론 채워지고, 느슨해진 나의 일상생활에 원동력이 되어 에너지를 뿜어 낸다.</li>
</ul>
{% endblock %}