<!DOCTYPE html>
<html lang="ko">

<head>
    <title>{{ title }}`s Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portfolio site of artist Seongmee Park">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.17/dist/css/uikit.min.css" />
    <!-- <link rel="stylesheet" href="static/css/customed.css" /> -->
    <link rel="stylesheet" href="https://d16f7c9yvik7we.cloudfront.net/assets/css/customed.css">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.17/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.17/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <!-- Nav -->
    {% include "layout/nav.html" %}

    <!-- Main -->
    <div class="uk-container uk-container-xsmall">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>