<div class="uk-container uk-container-xsmall menu-container">
    <h1 class="title">⁌ {{ title }} ⁍</h1>
    <nav uk-navbar>
        <ul class="uk-list uk-flex menu">
            <li><a class="uk-link-muted" href="index.html">Home</a></li>
            <li>
                <a class="uk-link-muted" href="#">Works</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        {% for menu in menus %}
                        <li><a class="uk-link-muted" href="{{ menu }}.html">{{ menu }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li>
                <a class="uk-link-muted" href="#">Texts</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a class="uk-link-muted" href="profile.html">Profile</a></li>
                        <li><a class="uk-link-muted" href="notes.html">Notes</a></li>
                        <li><a class="uk-link-muted" href="articles.html">Articles</a></li>
                        <li><a class="uk-link-muted" href="contact.html">Contact me</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</div>
<hr class="uk-divider-icon">